#india_map {
	position: absolute;
  right: 0px;  
  width: 20px;
  height: 12px;
	/*height: 1000px;
	width: 800px;*/
}

#canada_map {
	position: absolute;
  left: 150px;  
  width: 20px;
  height: 120px;
	/*height: 1000px;
	width: 800px;*/
}

#russia_map {
	position: absolute;
  right: 150px;  
  width: 200px;
  height: 120px;
	/*height: 1000px;
	width: 800px;*/
}

#australia_map {
	position: absolute;
  right: 150px;  
  width: 200px;
  height: 120px;
	/*height: 1000px;
	width: 800px;*/
}

#text1{
	text-align: left;
}
